name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, activity, community, metadata
          config_timezone: America/Mexico_City
          
          # DISEÑO 3D EXPANDIDO
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year # Muestra todo el año
          
          # HÁBITOS (Muestra gráficas de día/noche)
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_days: 14
          
          # ESTRELLAS (Muestra repos que te gustan)
          plugin_stars: yes
          plugin_stars_limit: 3
